.node {
    width: 20px;
    height: 20px;
    outline: 1px solid lightblue;
    display: inline-block;
}

.start {
    background-color: green;
}

.finish {
    background-color: red;
}

.visited {
    background-color: blue;
}